.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    height: 950px;
    
 }
 .grid-container > div{
     
     border: 2px solid black;
     width: auto;
     height: auto;
     margin-left: 5px;
     margin-right: 5px;
     
 }
 #image{
     
     width: 40%;
     height: 40%;
     
 }
 #divmyface{
     margin: 0 auto;
 }
#alive{
    text-align: center;
}
h1, h2{
    font-family: Garamond, "Times New Roman", serif; 
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
#grid-container2{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
}

@media only screen and (max-width: 100%){
    .nana{
        padding:  150px 0;
    }
}

 /* 991.98 1204    767.98  */

 